@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
}

button {
  background: transparent;
}

body {
  background: #1e1e1e;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  background: rgba(0, 0, 0, 0.05);
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 123px;
}
.header-block .header__link {
  font-size: 18px;
}