@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
}

button {
  background: transparent;
}

body {
  background: #1e1e1e;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  background: rgba(0, 0, 0, 0.05);
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 123px;
}
.header-block .header__link {
  font-size: 18px;
}

.navigation {
  padding: 30px 0;
}
.navigation .navigation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation .navigation-block .navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation .navigation-block .navigation__link:last-child {
  color: #EAEC82;
}
.navigation .navigation-block .navigation__span:not(:last-child)::after {
  content: "/";
  margin: 0 15px;
}

.content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}
.content-block .item-block {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  padding: 0 10px;
}
.content-block .item-block .item {
  position: relative;
  width: 100%;
  background: #191919;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.content-block .item-block .item .item__lines {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content-block .item-block .item .item__lines .lines__svg {
  position: absolute;
  top: -5px;
  left: -5px;
  -o-object-position: center;
     object-position: center;
}
.content-block .item-block .item .item__lines .lines__color {
  fill: #f5f5f5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.content-block .item-block .item .name {
  position: absolute;
  left: 60px;
  bottom: 35px;
  font-family: "Varela Round";
  font-size: 20px;
  color: #f5f5f5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.content-block .item-block .item:hover {
  background: #f5f5f5;
}
.content-block .item-block .item:hover .name {
  color: #1e1e1e;
}
.content-block .item-block .item:hover .lines__color {
  fill: #1e1e1e;
}