* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

button {
    background: transparent;
}